# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environnements virtuels
venv/
.env/
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Données générées / traitées
data/processed/
models/
visualizations/
submission.csv

# Logs et fichiers temporaires
*.log
*.tmp

# Fichiers système
.DS_Store
Thumbs.db

# Présentation vidéo
presentation_video.mp4

# IDE / éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
